/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 17.14.21
    Author     : Simone
*/

body{
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: black;
}

#logo{
    background-color: #1c345a;
}

#header, #footer{
    color: white;
}

.current_page_item{    
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #1c345a;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#content h2{
    color: #9e1616;
}

a:link{
    text-decoration: underline;
    color: #9e1616;
}

a:visited{
    text-decoration: underline;
    color: #9e1616;
}

a:hover{
    font-weight: bold;
}

a[href="studente_esami.html"]{
    color: #1c345a;
}